[Unit]
Description=Action Server (Class: my_server, ID: 1)
After=network.target redis.service

[Service]
Type=simple
User=jas
WorkingDirectory=/opt/rdispatch/RedisActionDispatcher/
EnvironmentFile=/etc/rdispatch.env
ExecStart=/opt/rdispatch/RedisActionDispatcher/.venv/bin/python -u action_server.py my_server 1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
